<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener
			class-name="Selenium_TestNG_Framework.TestComponents.Listeners" />
	</listeners>
	<test thread-count="5" name="Submit Order Test">
		<classes>
			<class name="Selenium_TestNG_Framework.SubmitOrderTest" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="Selenium_TestNG_Framework.ErrorValidationTest" />
		</classes>
	</test>
</suite> <!--
Suite -->
